* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a70000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px 16px;
}

nav {
    background-color: #5E0808;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
}

.left_nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    background: #FF0000;
    height: 40px;
    min-width: 160px;
}

.link {
    background: #FF0000;
    height: 40px;
    width: 55px;
}

.avatar {
    width: 50px;
    height: 50px;
    background: #FF0000;
    border-radius: 50%;
}

.card {
    background-color: bisque;
    padding: 24px;
    border-radius: 12px;
    margin-top: 50px;
}

.circle {
    background-color: #FF0000;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    lex-shrink: 0;
    aspect-ratio: 1 / 1;
}
.line {
    height: 24px;
    width: 100%;
    background-color: #5E0808;

}
.line_container {
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 100%;
    
}
.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.special-card .line_container .line:nth-child(3) {
    width: 100%;
}
@media screen and (width > 1200px) {

}

@media screen and (width < 1200px) and (width > 450px) {

}

@media screen and (width < 600px) {
.logo {
        background: #FF0000;
        height: 40px;
        min-width: 70px;
    }
.avatar {
        width: 48px;
        height: 48px;
     } 
.left_nav {
    max-width: 266px; 
}
}