* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a70000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #5E0808;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
}

.left_nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    background: #FF0000;
    height: 40px;
    min-width: 160px;
}

.link {
    background: #FF0000;
    height: 40px;
    width: 55px;
}

.avatar {
    width: 50px;
    height: 50px;
    background: #FF0000;
    border-radius: 50%;
}
@media screen and (width > 1200px) {

}

@media screen and (width < 1200px) and (width > 450px) {

}

@media screen and (width < 450px) {
}